@import './variables.scss';

.App {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    background-image: radial-gradient(circle, white, $background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}